:root {
  --primary-green: #34aa2f;
  --lighter-green: #a1d69f;
  --darker-green: #237b1f;
  --border-light: lightslategray;
  --border-dark: darkgray;
  --card-background: lightgray
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Minecrafter';
  src: url('fonts/Minecrafter.Reg.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-image: url('img/background.png');
  background-size: 200px;
  background-repeat: repeat;
} 

a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.btn {
  font-family: 'Minecrafter';
  font-size: 1.3em;
  padding: 1rem;
  width: 10em;
  height: 2.5em;
  background-color: var(--primary-green);
  border-top: 3px solid var(--lighter-green);
  border-right: 3px solid var(--lighter-green);
  border-bottom: 3px solid var(--darker-green);
  border-left: 3px solid var(--darker-green);;
}

.btn:hover {
  opacity: 0.9;
}

.lesson {
  display: flex;
  flex-direction: column;
  margin: 3em;
  padding: 1.5rem;
  border-top: 3px solid var(--border-light);
  border-right: 3px solid var(--border-light);
  border-bottom: 3px solid var(--border-dark);
  border-left: 3px solid var(--border-dark);
  background: var(--card-background);
}

.lesson-h1 {
  font-family: 'Minecrafter';
  margin-bottom: 1.5rem;
}

.lesson-img {
  width: 100%;
  
}
.download{
  float: left;
  width:25%;
  height: 550px;
  display: flex;
  flex-direction: column;
  margin: 3em;
  
  padding: 1.5rem;
  border-top: 3px solid var(--border-light);
  border-right: 3px solid var(--border-light);
  border-bottom: 3px solid var(--border-dark);
  border-left: 3px solid var(--border-dark);
  background: var(--card-background);
  
}
.download-img{
  width: 250px;
  height:250px
  
  
}

.lesson-desc {
  padding-top: 1.5rem;
  font-size: 18px;
}

.btn-play {
  margin-top: 2rem;
}
.btn-download{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.download-desc {
  padding-top: 1.5rem;
  font-size: 18px;
}

#main-nav, #main-footer{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  border-bottom: 3px solid rgba(255,255,255,.3);
}

#main-footer {
  color: #f4f4f4;
  border-top: 3px solid rgba(255,255,255,.3); 
  border-bottom: 0px;
  width: 100%;
}

#logo {
  width: 25%;
  max-width: 400px;
  overflow: hidden;
}

#lessons {
  display: flex;
  margin: auto;
  max-width: 1200px;
}