:root {
  --primary-green: #34aa2f;
  --lighter-green: #a1d69f;
  --darker-green: #237b1f;
  --border-light: lightslategray;
  --border-dark: darkgray;
  --card-background: lightgray
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Mojang';
  src: url('../fonts/Mojang-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@media all and (min-width: 905px) {
  .lesson {
    width: 25%;
    max-width: 300px;
    height: 625px;
  }

  .lessons {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
  }
}

@media all and (max-width: 905px) {
  .lesson {
    width: 80%;
    display: flex;
    align-self: center;
  }

  .lessons {
    flex-direction: column;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-image: url('../img/background.png');
  background-size: 200px;
  background-repeat: repeat;
} 

a {
  text-decoration: none;
  color: white;
  text-align: center;
}

button {
  color: white;
  outline: none;
  cursor: pointer;
}

.btn {
  font-family: 'Mojang';
  font-size: 1.3em;
  padding: 1rem;
  width: 200px;
  height: 2.5em;
  background-color: var(--primary-green);
  border-top: 3px solid var(--lighter-green);
  border-right: 3px solid var(--lighter-green);
  border-bottom: 3px solid var(--darker-green);
  border-left: 3px solid var(--darker-green);
  transition: 0.2s;
}

.btn-locked {
  background-color: gray;
  border-top: 3px solid lightgray;
  border-right: 3px solid lightgray;
  border-bottom: 3px solid darkgray;
  border-left: 3px solid darkgray;
  pointer-events: none;
}

.btn:hover {
  background-color: #2b8d28;
  border-top: 3px solid #93c492;
  border-right: 3px solid #93c492;
  border-bottom: 3px solid #1d6419;
  border-left: 3px solid #1d6419;
}

.btn:active {
  background-color: #288325;
  border-top: 3px solid #85b484;
  border-right: 3px solid #85b484;
  border-bottom: 3px solid #185315;
  border-left: 3px solid #185315;
  transition: none;
}

.main-nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  border-bottom: 3px solid rgba(255,255,255,.3);
}

#logo {
  width: 25%;
  max-width: 400px;
  min-width: 300px;
  overflow: hidden;
}

.lessons {
  width: 100%;
  display: flex;
}

.lesson {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1.5rem;
  border-top: 3px solid var(--border-light);
  border-right: 3px solid var(--border-light);
  border-bottom: 3px solid var(--border-dark);
  border-left: 3px solid var(--border-dark);
  background: var(--card-background);
}

.lesson-h1 {
  font-family: 'Mojang';
  margin-bottom: 1.5rem;
  font-size: min(5vw, 2em);;
  white-space: nowrap;
}

.lesson-img {
  width: 100%;
}

.lesson-desc {
  padding-top: 1.5rem;
  font-size: 1.2em;
  flex-grow: 1;  /* Required to set btn-play to the bottom */
}

.btn-play {
  margin-top: 2rem;
}

#lesson-page {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  top: 40%;
  transition: visibility 0.2s linear, opacity 0.2s linear, top 0.2s linear;
}

#lesson-nav {
  width: 100%;
  position: absolute;
  z-index: 0;
}